
.img{background:url(images/css_sprites.png)  no-repeat; z-index: 5;background-size:14.286rem 9rem;}
.sprite1{height:3rem;width:4rem;background-position:-0.714rem -5.743rem;}
.sprite2{height:3.643rem;width:2.93rem;background-position:-10.93rem -0.714rem;}
.sprite3{height:6rem;width:3.143rem;background-position:-0.714rem -0.714rem;}
.sprite4{height:1.93rem;width:5.214em;background-position:-3.29rem -0.714rem; margin: 0.4em 0 0 44%;}



.top{
	position: fixed;
	top: 0;
	width: 100%;
	background-color:rgba(255,255,255,1);
	z-index: 2031;
}
.body_top{
	position: fixed;
	padding: 0;
	background-color: #f0f0f0;
	height: 100%;
	width: 100%;
	top: 0;
}
.navbar_hd {
    background-color: #29bde0;
    height: 3em;
    width: 100%;
    top:0;
    padding: 0.5em 0 0 0.5em;
  }

.lastgame{
	margin: 4em 1.3em 0 1.3em;
	height: 4em;
	border: 0.1em solid #c9c9c9;
	line-height: 4em;
	text-align: center;
	color: #9a9a9a; 
	display: block;
	background-color: #fff;
}
.arrow1{
    position: fixed;
    top: 5.2em;
    right: 3.5em;
}
.arrow2{
	position: fixed;
    top: 5.2em;
    right: 3.5em;
}


.game{
    margin: 1em 1.3em 0 1.3em;
	height: 3em;
	border: 0.12em solid #c9c9c9;
	line-height: 3em;
	text-align: center;
	color: #fcc768; 
	background-color: #fff;
	border-bottom: 0.05em solid #fcc768;
}

.version{
    margin:0 1.3em 0 1.3em;
    padding-top: 0.01em;
	height: 25em;
	border: 0.12em solid #c9c9c9;
	border-top: 0;
	line-height: 3em;
	text-align: center;
	background-color: #fff;
}
.block{
	height: 5em;
    margin: 1em 2em 0 2em;
    background-color: #69d1e9;
    color: #fff;
    line-height: 5em;
    text-align: center;
}
.word{
	height: 1em;
    margin: 1.2em 2em 0 2em;
    border: none;
    color: #787878;
    line-height: 1em;
    text-align: center;
    font-size: 0.8em;
}

.dots{
	display: flex;
	justify-content: center;
	height: 1em;
	width: 100%;
	padding-top: 0.4em;
}
.dot1{
	background-color: #69d1e9;
	height: 0.7em;
	width: 0.7em;
	border-radius: 0.35em; 
}
.dot2{
	background-color: #f0f0f0;
	height: 0.7em;
	width: 0.7em;
	border-radius: 0.35em; 
	margin-left: 0.3em;
}